<%- include("partials/header.ejs") %>

<div class="container py-3">
  <h1 class="text-center"><%= today %></h1>
  <div class="mt-4">
    <% for (let index = 0; index < todayTaskList.length; index++) { %>
    <label class="task_item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" />
      <span><%= todayTaskList[index] %></span>
    </label>
    <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
